* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainFont {
  font-family: "Rubik", serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.nameFont {
  font-size: 40px;
}

.hourFont {
  font-size: 50px;
  font-weight: 400;
}

.titleFont {
  font-weight: 500;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
}

#container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  row-gap: 5.8%;
  column-gap: 2.7%;
  width: 77.1%;
  aspect-ratio: 2.14;
}

.box {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#profileBg {
  background-color: hsl(235, 46%, 20%);
  grid-row: 1 / span 2;
}

#profile {
  background-color: hsl(246, 80%, 60%);
  flex-direction: column;
  height: 68.3%;
  gap: 11.3%;
  padding: 13.3% 11.4%;
  border-radius: inherit;
}

#profile > img {
  width: 42.9%;
  border-radius: 50px;
  border: 2px solid white;
}

#menu {
  flex-direction: column;
  padding: 0 11.8%;
  justify-content: center;
  gap: 12.29%;
  flex-grow: 1;
}

#profile p {
  opacity: 0.5;
  font-size: 15px;
}

.inActive {
  color: hsl(235, 45%, 61%);
}

#menu p {
  cursor: pointer;
}

#work {
  background-image: url(images/icon-work.svg);
  background-color: hsl(15, 100%, 70%);
}

#play {
  background-image: url(images/icon-play.svg);
  background-color: hsl(195, 74%, 62%);
}

#study {
  background-image: url(images/icon-study.svg);
  background-color: hsl(348, 100%, 68%);
}

#exercise {
  background-image: url(images/icon-exercise.svg);
  background-color: hsl(145, 58%, 55%);
}

#social {
  background-image: url(images/icon-social.svg);
  background-color: hsl(264, 64%, 52%);
}

#self-care {
  background-image: url(images/icon-self-care.svg);
  background-color: hsl(43, 84%, 65%);
}

.statboxContainer {
  background: no-repeat 90% -8%;
  justify-content: end;
}

.statBox {
  height: 82%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 11.8%;
  display: flex;
  flex-direction: column;
  gap: 12.5%;
}

.statBox:hover {
  background-color: hsl(235, 45%, 61%);
}

.statBox > div:first-child {
  display: flex;
  justify-content: space-between;
}

.statBox svg {
  width: 8.2%;
  fill: #bbc0ff;
}

.statBox svg:hover {
  cursor: pointer;
  fill: white;
}

.statBox > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.lastFont {
  color: hsl(236, 100%, 87%);
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 376px) {
  body {
    align-items: start;
    padding: 20% 0;
    height: 100%;
  }
  #container {
    display: flex;
    flex-direction: column;
    width: 87.2%;
    gap: 14.7%;
  }

  .nameFont {
    font-size: 22px;
  }

  #profileBg {
    height: 133%;
  }

  #profile {
    flex-direction: row;
    padding: 9.7% 8.7%;
    gap: 6.3%;
    height: 65.6%;
  }

  #profile > img {
    width: 25.9%;
  }

  #profile > div {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
  }

  #menu {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .hourFont {
    font-size: 30px;
  }

  .statboxContainer {
    height: 104.7%;
  }

  .statBox {
    height: 75.6%;
    padding: 10%;
  }

  .statBox > div:last-child {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }
}
